{% extends 'products/base.html' %}
{% load static %}
{% load cache %}
{% load humanize %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link href="{% static '/vendor/css/products.css'%}" rel="stylesheet">
{% endblock %}


{% block content %}
<main>
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Store</h1>
                <div class="list-group">
                    {% for category in categories %}
                        {% if not category.is_empty %}
                            <a href="{% url 'products:filtered_products' category.id %}" class="list-group-item">{{ category }}</a>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div class="row">
                    {% for product in page_obj %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'products:product-info' product.slug None %}">
                                <img class="card-img-top"
                                     src="{{ product.images.first.image.url }}"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a class="card-link" href="{% url 'products:product-info' product.slug None %}">{{ product.name }}</a>
                                </h4>
                                <h5 class="card-price">{{ product.price|intcomma }}$</h5>
                                <p class="card-text">{{ product.description }}</p>
                            </div>
                            {% if product.sizes.all %}
                                <div class="card-footer text-center">
                                    Sizes:
                                    {% for size in product.sizes.all %}
                                        <span class="cart-item-size ">{{ size.name }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if page_obj.has_previous or page_obj.has_next %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}

                            {% for page in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>

        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2023</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}